GCS_BUCKET_NAME=debentures-anbima-am
GCS_PREFIX=b3_trades
TABLE_ENDPOINT=Trade
TARGET_DATE=
PAGE_SIZE=1000
CONNECT_TIMEOUT=20
READ_TIMEOUT=180
MAX_RETRIES=5
SLEEP_BETWEEN_PAGES=0.4
RECENT_BUSINESS_DAYS_TO_ENSURE=5
